	<link rel="stylesheet" href="test/mocha.css" />
	
	<div id="mocha"></div>
    <textarea id="input">defecto</textarea>
	<pre id="output"></pre>
	<input id="parse" value=parse type=button class="mylink">

    <script src="test/chai.js"></script>
    <script src="test/mocha.js"></script>
    <script src="pl0.js"></script>
    <script src="main.js"></script>
    <script>mocha.setup('tdd')</script>
    <script src="test/tests.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
      	</script>
	<script>
        mocha.run();
	</script>
